/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    background: rgb(21, 113, 156);
    width: 70%;
    margin:auto;  /* center */
    padding:1%; /*get text awayb from edges*/
    border-radius:5px; /*rounded corners*/
}
 /* Typography*/
h1 {
    color:aqua;
}

h2 {
    color:blue;
}
